* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    font: 25px bolder;
    padding: 8px;
}

.container {
    display: block;
}

.sidebar {
    width: 30%;
    max-width: 370px;
    background-color: white;
    float: left;
}

.search {
    border: 1px black;
    border-radius: 10px;
    padding: 5px;
    background-color: ;
}

div#3d-container {
    overflow: hidden;
    height: 100%;
    float: left;
}